.mg31 {
  min-height: 800px;
}
.mg31 {
  background-image: url('/images/bg-svg/bg6b.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  position: relative;
}
/* .mg31 {
  min-height: 500px;
} */

.page-desc {
  color: #fff;
  max-width: 910px;
  margin: 0 auto;
}

.page-desc .desc {
  color: #fff;
}

.largeimg {
  position: relative;
}

/* .largeimg img {
  display: block;
  position: relative;
} */

.mg311 {
  background: none;
}

.mg311 .page-desc {
  padding-bottom: 100px;
}

.mg311 .imgbg {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  max-height: 750px;
  position: absolute;
  background-image: url("/images/bg-svg/bg6.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

@media only screen and (max-width: 1199px) {
  .mg31 {
    min-height: auto;
  }
}

@media only screen and (max-width: 767px) {
  .largeimg img {
    height: auto;
  }
}

.mg31-bg1 .page-desc, 
.mg31-bg3 .page-desc,
.mg31-bg4 .page-desc,
.mg31-bg5 .page-desc {
  color: #000;
}

.mg31-bg1 .page-desc .desc,
.mg31-bg3 .page-desc .desc,
.mg31-bg4 .page-desc .desc, 
.mg31-bg5 .page-desc .desc {
  color: #000;
}

.mg31-bg1 {
  background-image: url(/images/new-bg/1.jpg);
}

.mg31-bg3 {
  background-image: url(/images/new-bg/3.jpg);
}

.mg31-bg4 {
  background-image: url(/images/new-bg/4.jpg);
}

.mg31-bg5 {
  background-image: url(/images/new-bg/5.jpg);
}

.mg311 .page-desc {
  color: #000;
}

.mg311 .page-desc .desc {
  color: #000;
}
.mg311-bg3 .imgbg {
  background-image: url(/images/new-bg/3.jpg);
}
.mg311-bg4 .imgbg {
  background-image: url(/images/new-bg/4.jpg);
}
